management:
  tracing:
    sampling:
      probability: 1.0

spring:
  application:
    name: Product-Service

  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:3306/productdb
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update

  config:
    import: configserver:http://${CONFIG_SERVER_URL:localhost}:9296

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-3ipx01b1.auth0.com/

#eureka:
#  instance:
#    prefer-ip-address: true
#  client:
#    fetch-registry: true
#    register-with-eureka: true
#    service-url:
#      defaultZone: ${EUREKA_SERVER_ADDRESS:http://localhost:8761/eureka}


server:
  port: 8080


