management:
  tracing:
    enabled: true
    sampling:
      probability: 1.0

  zipkin:
    tracing:
      endpoint: http://zipkin-svc:9411/api/v2/spans

spring:
  application:
    name: Product-Service

  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:3306/productdb
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update

  config:
    import: configserver:${CONFIG_SERVER_URL:http://localhost:9296}

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-3ipx01b1.auth0.com/

#eureka:
# instance:
#   prefer-ip-address: true
# client:
#   fetch-registry: true
#   register-with-eureka: true
#   service-url:
#     defaultZone: ${EUREKA_SERVER_ADDRESS:http://localhost:8761/eureka/}


server:
  port: 8080


