server:
  port: 9090

management:
  tracing:
    enabled: true
    sampling:
      probability: 1.0

  zipkin:
    tracing:
      endpoint: http://zipkin-svc:9411/api/v2/spans

# eureka:
#   client:
#     service-url:
#       defaultZone: ${EUREKA_SERVER_ADDRESS:http://localhost:8761/eureka/}

spring:
  redis:
    host: redis
    port: 6379
  application:
    name: API-GATEWAY
  config:
    import: configserver:${CONFIG_SERVER_URL:http://localhost:9296}
  cloud:
    gateway:
      default-filters:
        - name: TokenRelay
      routes:
        - id : ORDER-SERVICE
          uri: http://order-service-svc
          predicates:
            - Path=/order/**
          filters:
            - name: CircuitBreaker
              args:
                name: ORDER_SERVICE
                fallbackuri: forward:/orderServiceFallBack
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 1
                redis-rate-limiter-burstCapacity: 1

        - id: PAYMENT-SERVICE
          uri: http://payment-service-svc
          predicates:
            - Path=/payment/**
          filters:
            - name: CircuitBreaker
              args:
                name: PAYMENT-SERVICE
                fallbackuri: forward:/paymentServiceFallBack
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 1
                redis-rate-limiter-burstCapacity: 1

        - id: PRODUCT-SERVICE
          uri: http://product-service-svc
          predicates:
            - Path=/product/**
          filters:
            - name: RewritePath
              args:
                regexp: /product/(?<remaining>.*)
                replacement: /product/${remaining}
            - name: CircuitBreaker
              args:
                name: PRODUCT-SERVICE
                fallbackuri: forward:/productServiceFallBack
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 1
                redis-rate-limiter-burstCapacity: 1


  security:
    oauth2:
      client:
        registration:
          auth0:
            client-id: 77ZHDPtV2lMELSH734N42p65ouh95PTR
            client-secret: Ge0xoQqm-iuJgOSM0KapclIlxaz3Y4T6Z093kqO83xq7mkK4mXaQopevfcOJJajx
            scope: openid, email.profile, offline_access, Customer, Admin
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/auth0"
        provider:
          auth0:
            issuer-uri: https://dev-3ipx01b1.auth0.com/
            jwk-set-uri: https://dev-3ipx01b1.auth0.com/.well-known/jwks.json
      resourceserver:
        jwt:
          issuer-uri: https://dev-3ipx01b1.auth0.com/


auth0:
  audience: https://dev-3ipx01b1.auth0.com/api/v2/