management:
  tracing:
    enabled: true
    sampling:
      probability: 1.0

  zipkin:
    tracing:
      endpoint: http://zipkin-svc:9411/api/v2/spans

spring:
  application:
    name: Order-Service

  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:3306/orderdb
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
  config:
    import: configserver:${CONFIG_SERVER_URL:http://localhost:9296}

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-3ipx01b1.auth0.com/

resilience4j:
  circuitbreaker:
    instances:
      external:
        event-consumer-buffer-size: 10
        failure-rate-threshold: 50
        minimum-number-of-calls: 5
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state: 5s
        permitted-number-of-calls-in-half-open-state: 3
        sliding-window-size: 10
        sliding-window-type: COUNT_BASED


#eureka:
# instance:
#   prefer-ip-address: true
# client:
#   fetch-registry: true
#   register-with-eureka: true
#   service-url:
#     defaultZone: ${EUREKA_SERVER_ADDRESS:http://localhost:8761/eureka/}

server:
  port: 8082


microservices:
  product: http://product-service-svc/product/
  payment: http://payment-service-svc/payment/
